.mr_table__tr > td {
  color: var(--mr-color-536b7a);
  font-size: var(--mr-font-size-16);
  padding: 13px 18.5px;
  border-bottom: 1px solid var(--mr-color-9aaebb66);
}

.mr_table__tr > td:first-child {
  text-align: center;
}

.mr_table__tr > td > button {
  background: url("../../assets/view-icon.svg") no-repeat center/contain;
  width: 15px;
  height: 13px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .mr_table__tr > td::before {
    content: attr(data-label);
    color: var(--mr-color-0b749b);
    font-size: var(--mr-font-size-10);
    font-weight: var(--mr-font-weight-bold);
    text-transform: uppercase;
    display: grid;
  }

  .mr_table__tr > td,
  .mr_table__tr > td:first-child {
    text-align: center;
  }

  .mr_table__tr > td:last-child {
    text-align: center;
    border-bottom: 1px solid var(--mr-color-0b749b);
  }
}
